<style>

.dataframe thead th {
    text-align: right;
    max-width: 5.5em;
    overflow-wrap: break-word;
}


table th:nth-child(odd), 
table td:nth-child(odd) {
    background: #F8F8E8;
}

table th:nth-child(1), 
table td:nth-child(1) {
    background: #F0F0F0;
}
</style>
